<body>
    <div id="fh5co-pricing" class="fh5co-bg-section">
        <div class="container margen">
            <div class="row animate-box margen">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2 class="texto">Sobre Nosotros</h2>
                    <p>Todo Sobre Nuestra Universidad y Area Bibliografica</p>
                </div>
            </div>
        </div>
    </div>


    <div >
        <div id="fh5co-about">
            <div class="container">
                <div class="col-md-6 animate-box">
                    
                    <h2>Bienvenido a la Univerdidad Privada Domingo Savio</h2>
                    <p>Asumir la responsabilidad de conformar la RED UNIVERSITARIA MÁS GRANDE DE BOLIVIA, es una iniciativa de lo más desafiante: formar a miles de bolivianos en una perspectiva integradora, con una profunda fe en sus propias capacidades y con las competencias adecuadas a un entorno cada vez más cambiante, que en un reto permanente nos obligaría a ser cada vez más creativos, más innovadores y sobre todo más conscientes del verdadero significado de la vida en comunidad, lo que hará la diferencia al momento de aportar al desarrollo y el bienestar colectivo, en pocas palabras: ser tanto buenos profesionales como mejores seres humanos. </p>
                    
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="/../../assets/Cliente/images/about01.jpg" alt="">
                </div>
            </div><br><br><br><br>
            <div class="container">
                <div class="col-md-6">
                    <img class="img-responsive" src="/../../assets/Cliente/images/about02.jpg" alt="" width="120%">
                </div>
                <div class="col-md-6 animate-box">
                    
                    <h2>Se parte de la RED UNIVERSITARIA mas Grande de Bolivia</h2>
                  <p>Somos la RED UNIVERSITARIA más grande de BOLIVIA, y la opción de educación superior más importante para miles de estudiantes en todo el país. Nuestro sistema modular, los diferentes horarios a elección, la movilidad estudiantil, docente y administrativa, dentro y fuera del país, los distintos convenios nacionales e internacionales con redes de universidades, y el modelo educativo propio, basado en competencias, nos hace únicos a la hora de brindar una educación personaliza y formar profesionales más humanos.</p>
                </div>
            </div>
        </div>
    
        </div>
        
    
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
        </div>

</body>