<!-- Abrir Modal -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">EDITOR</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
  <div class="modal-body">
    <div class="content-viewport">
        <div class="row">
          <div class="col-lg-12">
                <div class="item-wrapper py-2">
                  <form [formGroup]="form" (ngSubmit)="Guardar()">
                    <div class="form-group">
                      <label for="nombre">Nombre</label>
                      <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre"
                        formControlName="nombre"/>                 
                      <div *ngFor="let error of lista.mensajes.nombre">
                        <div *ngIf="form.controls['nombre'].hasError(error.type) && (form.controls['nombre'].dirty || form.controls['nombre'].touched)">
                              <small class="error">{{error.message}}</small>
                        </div>                     
                     </div>
                    </div>
                    <div class="form-group">
                      <label for="apellido">Apellido</label>
                      <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido"
                        formControlName="apellido"/>
                        <div *ngFor="let error of lista.mensajes.apellido">
                          <div *ngIf="form.controls['apellido'].hasError(error.type) && (form.controls['apellido'].dirty || form.controls['apellido'].touched)">
                                <small class="error">{{error.message}}</small>
                          </div>                     
                       </div>
                    </div>
                    <div class="form-group">
                      <label>Genero</label>
                      <select class="form-control form-select" formControlName="genero" [class.incorrect]="
                      this.form.get('genero')?.invalid &&
                      this.form.get('genero')?.touched
                    "[class.correct]="this.form.get('genero')?.valid">
                    <option select value="">Seleccione un Genero</option>
                        <option value="Masculino">
                          Masculino
                        </option>
                        <option value="Femenino">
                          Femenino
                        </option>
                      </select>
                      <!-- Abrir Mensaje Error -->                    
                      <div *ngFor="let error of lista.mensajes.genero">
                        <div *ngIf="form.controls['genero'].hasError(error.type) && (form.controls['genero'].dirty || form.controls['genero'].touched)">
                              <small class="error">{{error.message}}</small>
                        </div>                     
                     </div>
                    <!-- Cerrar Mensaje Error -->
                    </div>
                    <div class="form-group">
                      <label for="fechanacimiento">Fecha de Nacimiento</label>
                      <input type="date" class="form-control" max="{{hoy | date:'yyyy-MM-dd'}}" (change)="getFecha($event.target)" id="fechanacimiento" formControlName="fechanacimiento"/>
                      <div *ngFor="let error of lista.mensajes.fecha">
                        <div *ngIf="form.controls['fechanacimiento'].hasError(error.type) && (form.controls['fechanacimiento'].dirty || form.controls['fechanacimiento'].touched)">
                              <small class="error">{{error.message}}</small>
                        </div> 
                        <span *ngIf="alertaFecha == 'si'" class="error">El Editor debe ser Mayor de 15 Años</span>                      
                     </div>
                     
                    </div>
                    <div class="form-group">
                      <label for="nacionalidad">Nacionalidad</label>
                      <input type="text" class="form-control" id="nacionalidad" placeholder="Ingresa tu nacionalidad" formControlName="nacionalidad"/>
                      <div *ngFor="let error of lista.mensajes.nacionalidad">
                        <div *ngIf="form.controls['nacionalidad'].hasError(error.type) && (form.controls['nacionalidad'].dirty || form.controls['nacionalidad'].touched)">
                              <small class="error">{{error.message}}</small>
                        </div>                     
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="cod_editor">Codigo de Editor</label>
                      <input type="text" class="form-control" id="cod_editor" placeholder="Ingresa tu codigo de editor"
                        formControlName="cod_editor" />
                        <div *ngFor="let error of lista.mensajes.codigoeditor">
                          <div *ngIf="form.controls['cod_editor'].hasError(error.type) && (form.controls['cod_editor'].dirty || form.controls['cod_editor'].touched)">
                                <small class="error">{{error.message}}</small>
                          </div>                     
                       </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cerrar</button>
                      <button class="btn btn-success" [disabled]="this.form.invalid" type="submit"
                        [class.invalidado]="this.form.invalid" [class.validado]="this.form.valid" (click)="modal.close()">Guardar</button>
                    </div>
                  </form>
                </div> 
          </div>
        </div>
      </div>
</div>
</ng-template>
<!-- Cerrar Modal -->

<div class="content-viewport">
  <div class="row">
    <div class="col-lg-12">
      <div class="row py-4">
        <div class="col-sm-9">
            <div class="">
                <h2>EDITOR</h2>
            </div>
        </div>
        <div class="col-sm-3">
          <div class="card-description text-right">
            <div class="row">
              <div class="col-sm-6"> 
                <button type="button" class="btn btn-primary has-icon btn-rounded buttoncolor" (click)="Guardarinstruct(content)">
                  <i class="mdi mdi-plus-circle"></i>AGREGAR</button> 
              </div>
              <div class="col-sm-6">  
                <button type="button" class="btn btn-success has-icon btn-rounded dropdown-toggle buttoncolor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="mdi mdi-content-copy"></i>REPORTE</button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item " (click)="reportePDF()">PDF</button>
                    <button class="dropdown-item " (click)="reporteExcel()">EXCEL</button>                                     
                  </div>                                  
              </div>
            </div>   
          </div>
        </div>
  </div>



  <div class="row" >
    <div class="col-md-5 ">                    
      <label><span class="subtitulos">BUSCAR</span></label>
    </div>
    <div class="col-md-7 ">
      <div class="row"> 
        <div class="col-md-5 ">
          <label><span class="subtitulos">FILTRAR POR NACIONALIDAD</span></label>
        </div>
      </div>
    </div> 
  <div class="form-group row">
    <div class="col-md-5 ">
        <div class="input-group">
          <select class="form-control col-md-4 text-center" [(ngModel)]="criterio">
            <option value="nombreeditor">Nombre y Apellido</option>
            <option value="codeditor">Codigo Editor</option>
          </select>
          <input type="text" class="form-control col-md-7" name="filter" placeholder="Buscar..."  [(ngModel)]="search" />              
        </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="form-group col-md-7">
          <input type="text" class="form-control col-md-7" name="filter" placeholder="Nacionalidad..."  [(ngModel)]="search2" />  
        </div>
        <div class="col-md-5 text-right">
          <button type="button" class="btn btn-success has-icon btn-rounded dropdown-toggle buttoncolor botonUp"  (click)="LimpiarSearch()" clickable>
          <i class="mdi mdi-reload"></i>LIMPIAR</button>
        </div>      
      </div>
                                                    
    </div>
</div>




  
            <div class="item-wrapper">
                <div class="table-responsive">
                     <table  id ="datos" class="table info-table table-striped">
                        <thead>
                <tr>
                  <th>#</th>
                  <th>NOMBRE</th>
                  <th>APELLIDO</th>
                  <th>GENERO</th>
                  <th>FECHA_NACIMIENTO</th>
                  <th>NACIONALIDAD</th>
                  <th>CODIGO DE EDITOR</th>
                  <th>ESTADO</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let editor of listaEditor | filterone:criterio:search | filterone:criterio2:search2 | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                  <td scope="row">{{i+((page-1) * pageSize)+1}}</td>
                  <td>{{ editor.persona.nombre }}</td>
                  <td>{{ editor.persona.apellido }}</td>
                  <td>{{ editor.persona.genero }}</td>
                  <td>{{ editor.persona.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
                  <td>{{ editor.persona.nacionalidad }}</td>
                  <td>{{ editor.cod_Editor }}</td>
                  <td *ngIf="editor.estado == 1"> <label class="badge badge-success btnacti ">ACTIVO</label></td>
                  <td *ngIf="editor.estado == 0"> <label class="badge badge-danger">INACTIVO</label></td>
                                    
                  <td>
                    <button type="button" (click)="SeleccionarEditor(content,editor)" class="btn btn-dark has-icon btn-rounded" style="margin: 10px">
                    <i class="mdi mdi-lead-pencil"></i>Modificar</button>
                    <button type="button" (click)="CambiarEditor(editor, 0)" class="btn btn-danger has-icon btn-rounded" *ngIf="editor.estado == 1">
                      <i class="mdi mdi-delete"></i>Desactivar</button>
                    <button type="button" (click)="CambiarEditor(editor, 1)" class="btn btn-success has-icon btn-rounded" *ngIf="editor.estado == 0">
                      <i class="mdi mdi-arrow-right-bold-circle"></i>Activar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="float-end">
            <ngb-pagination [pageSize] = "pageSize" [collectionSize]="pagesizee" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
