<div id="fh5co-pricing" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Informes Tecnicos</h2>
                <p>Articulos Publicados Como Informes Tecnicos</p>
            </div>
        </div>
        <div class="row">
            <div class="pricing pricing--rabten">
                <ng-container *ngFor="let informe of listadoinformes">
                    <div class="col-md-4 animate-box pad">
                        <div class="pricing__item">
                            <div class="wrap-price backg">
                                <h3 class="text-white texto">{{informe.articulo.titulo}}</h3>
                                <br>
                            </div>
                            <div class="text-center backg">                                   
                                <div id="fh5co-logo" ><img src="/../../assets/Cliente/images/logoCrad.png" width="100" height="100"></div>
                            </div>
                            <br>
                            <div class="text-left text-white">
                                <ul>
                                    <div class="row">
                                        <div class="col-md-8 animate-box">
                                            <li><span class="font-weight-bold">Fecha:  </span> {{informe.fechaPublicacion | date: 'dd/MM/yyyy' }}</li>
                                        </div>
                                        <div class="col-md-4 animate-box">
                                            <li><span class="font-weight-bold">Nro:  </span> {{informe.numero}}</li>
                                        </div>
                                    </div>
                                   
                                    <li><span class="font-weight-bold">Centro Publicacion:  </span> {{informe.centrodepublicacion }}</li>
                                    <li><span class="font-weight-bold">Autores:  </span> 
                                        <ng-container *ngFor="let articulo of listaArticulo; let i=index">
                                            <ng-container *ngIf="articulo.id == informe.articulo.id">
                                                <ng-container *ngFor="let articuloautor of listaArticuloAutor; let x=index">
                                                    <ng-container *ngIf="articulo.id == articuloautor.articuloId">
                                                      <ng-container *ngFor="let autor of listaAutor">
                                                        <ng-container *ngIf="articuloautor.autorId == autor.id">
                                                          {{autor.persona.nombre}} {{autor.persona.apellido}}, 
                                                        </ng-container>
                                                      </ng-container>
                                                    </ng-container>
                                                  </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </li>
                                </ul>
                            </div>
                            
                            <div style="padding: 1em 2.5em 1em 2.5em;" class="jus" >
                                <span class="text-white">{{informe.articulo.palabrasClave}}</span>
                            </div><br>
                            <div class="text-center">
                                <div id="fh5co-logo"><img src="/../../assets/Cliente/images/profesional.png" alt="" width="270" height="40"></div>
                                <br>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                
        </div>
    </div>
</div>